@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4>Create a new flavor</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class="text-danger", @style="font-weight: 600;"})</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
  <br>
  <input type="submit" class="btn btn-primary" value="Create"/>
}

<p>@Html.ActionLink("View flavor list", "Index")</p>